.card-container {
  display: grid;
  grid-template-columns: repeat(Auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
  margin: 2rem 3rem;
}

.cards {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  background-color: white;
  padding: 1rem 1rem;
  transition: box-shadow 0.4s ease;
  transition: transform 0.4s ease;
}

.cards:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

.cards > img {
  height: 200px;
}

.cards > h3 {
  width: 100%;
  font-size: 0.82rem;
  margin: 0.5rem 0.5rem;
  border-top: 1px solid grey;
  height: 2rem;
}
.cards > div {
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: space-evenly;
  align-items: center;
}

.cards > p > span {
  font-weight: bolder;
}
.cards > div > p > span {
  font-weight: bolder;
}

.cards-button > :nth-child(1) {
  padding: 0.6rem;
  width: 8rem;
  border: none;
  font-weight: bolder;
  background-color: green;
  color: #eee;
  border-radius: 0.3rem;
}
.cards-button > :nth-child(2) {
  padding: 0.6rem;
  width: 8rem;
  border: none;
  font-weight: bolder;
  background-color: red;
  color: #eee;
  border-radius: 0.3rem;
}

.cards-button > :nth-child(1):hover {
  background-color: rgb(7, 105, 7);
  color: white;
  cursor: pointer;
}

.cards-button > :nth-child(2):hover {
  background-color: rgb(205, 15, 15);
  color: white;
  cursor: pointer;
}

@media (max-width: 550px) {
  .card-container {
    grid-template-columns: repeat(Auto-fill, minmax(160px, 1fr));
    gap: 1rem;
    margin: 1rem 1.5rem;
  }
  .cards {
    gap: 0.3rem;
    padding: 0.5rem 0.6rem;
  }
  .cards:hover {
    transform: scale(1);
  }
  .cards > img {
    height: 100px;
  }
  .cards > h3 {
    font-size: 0.6rem;
  }
  .cards > div {
    width: 100%;
    height: 2rem;
  }
  .cards > p {
    font-size: 0.8rem;
  }
  .cards > p > span {
    font-size: 0.8rem;
  }
  .cards > div > p {
    font-size: 0.8rem;
  }
  .cards > div > p > span {
    font-size: 0.8rem;
  }
  .cards-button > :nth-child(1) {
    padding: 0.4rem;
    width: 6rem;
  }
  .cards-button > :nth-child(2) {
    padding: 0.4rem;
    width: 6rem;
    border-radius: 0.3rem;
  }
}
