.nav-container {
  background-color: #171511;
  color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}

.nav-container > h3 > a {
  text-decoration: none;
  font-size: 3rem;
  color: #eee;
  font-weight: bold;
}

.nav-container-pages > ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.nav-container-pages a {
  text-decoration: none;
  font-size: 1.7rem;
  color: #eee;
  font-weight: bold;
}
