img {
  width: 200px;
  height: 200px;
}

.body-container {
  height: 100vh;
  width: 60%;
}

.footers {
  margin-top: auto;
  background-color: aliceblue;
}

.home-container {
  height: 77vh;
}

.about-container {
  height: 79vh;
}
