.main-cart-container {
  /* background-color: wheat; */
  min-height: 80vh;
}

.cart-container {
  display: flex;
  padding: 1rem;
  gap: 2rem;
  background-color: white;
  margin: 2rem;
  /* width: 65%; */
}

.cart-container > img {
  width: 80px;
  height: 80px;
}

.title-price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title-price > h3 {
  font-weight: bolder;
  font-size: 0.9rem;
  width: 230px;
}

.title-price + div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.8rem;
}

.title-price + div > button {
  background-color: #dadada;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border: none;
}

.title-price + div > button:hover {
  background-color: grey;
}

.title-price + div > span {
  margin: 0 0.8rem;
  font-size: 1.2rem;
}

.title-price + div + div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title-price + div + div > p + p {
  color: red;
  transition: transform 0.3s ease;
}

.title-price + div + div > p + p:hover {
  font-weight: bolder;
  transform: scale(1.04);
}

.checkout-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  margin-top: 1rem;
}

.checkout-cart > .btn1 {
  width: 7rem;
  height: 2.3rem;
  font-weight: bold;
  background-color: green;
  border: none;
  color: #eee;
}

.checkout-cart > .btn1:hover {
  background-color: darkgreen;
  color: white;
  cursor: pointer;
}

.checkout-cart > .btn2 {
  width: 7rem;
  height: 2.3rem;
  font-weight: bold;
  background-color: red;
  color: #eee;
  border: none;
}

.checkout-cart > .btn2:hover {
  background-color: darkred;
  color: white;
  cursor: pointer;
}
